version: 2

jobs:
  build:
    docker:
      - image: cimg/python:3.13
    steps:
      - checkout
      - run:
          name: Update
          command: sudo apt-get update
      - run:
          name: Install
          command: |
            sudo apt install python3-pip
            pip3 install numpy matplotlib openturns tabulate
      - run:
          name: Build and test
          command: ./.circleci/run_linux.sh
